# Summary data

In [1]:
import pandas as pd
# Note: Update the relative path to the data
my_data = pd.read_csv("../data/tmdb-movies.csv")
grouped_data = my_data.groupby('release_year')

1. How many movies were released per year?

In [ ]:
grouped_data.describe()

2. What happens when you group by two columns using the following syntax and then calculate mean values?

In [ ]:
grouped_data2 = my_data.groupby(['release_year', 'director'])
grouped_data2.mean(numeric_only=True)

In [2]:
# You can specify particular columns and particular summary statistics using the agg() method (short for aggregate)
my_data.groupby(['release_year', 'director']).agg({"budget": 'max',
                                                  "runtime": 'median',
                                                  "revenue": 'mean'})

                                budget  runtime     revenue
release_year director
1960         Alfred Hitchcock   806948    109.0  32000000.0
             Billy Wilder      3000000    125.0  25000000.0
             Budd Boetticher         0     73.0         0.0
             David Miller            0    110.0         0.0
             David Swift             0    134.0         0.0
...                                ...      ...         ...
2015         Yorgos Lanthimos  4000000    118.0   9064511.0
             Zach Lipovsky           0    118.0         0.0
             Zachary Sluser          0     95.0         0.0
             Zackary Adler     2500000    110.0         0.0
             Zeke Norton             0     74.0         0.0

[10524 rows x 3 columns]

3. Summarize revenue values for each year in your data. HINT: you can use the following syntax to only create summary statistics for one column in your data. `my_data['release_year'].describe()`

In [ ]:
my_data.groupby(['release_year'])['revenue'].describe()