# Queries

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import os
os.chdir("/content/drive/MyDrive/Colab Notebooks/myProject/Challenges")

In [ ]:
import pandas as pd
# Note: Update the relative path to the data
my_data = pd.read_csv("../data/tmdb-movies.csv")

1. Select a subset of rows in the `my_data` DataFrame that contain data from the `release_year` 1999 and that contain `runtime` values less than or equal to 120. How many rows did you end up with? What did your neighbor get?

2. You can use the `isin` command in Python to query a DataFrame based upon a list of values as follows:

my_data[my_data['original_title'].isin([listGoesHere])]

Use the `isin` function to find a list of all movies that contain particular genres ("Comedy" and "Thriller") in the DataFrame. How many records contain these values?

Create a query that finds all rows with a runtime value greater than or equal to 300.

The `~` symbol in Python can be used to return the OPPOSITE of the selection that you specify. It is equivalent to `is not in`. Write a query that selects all rows with `genres` NOT equal to `Documentary` or `Horror` in the data.