# Mount Google Drive
If you're using Google Colab, you need to mount Google Drive and change your working directory as follows:

1 - Create a Google drive folder named "DataTrieste" at the root of your drive storage.  
2 - Download the Python Notebook (`python-lesson-labs.ipynb`) to you computer.  
3 - Upload the notebook to the `DataTrieste` folder.  
4 - Open the notebook with right click and then select "Open With" > "Google Colaboratory".  
5 - Select the "Mount Drive" option at the left panel.  
6 - Run the Cell to mount drive.  
7 - Change directory to the DataTrieste folder with:  
    `%cd /content/drive/MyDrive/DataTrieste`      !!!! DON'T FORGET THE PERCENTAGE SIGN !!!!  
8 - In order to check the working directory that you are into use  
    `%pwd`

In [ ]:
%cd /content/drive/MyDrive/DataTrieste

## Interpreter

Python is an interpreted language which can be used in two ways:

"Interactively": when you use it as an “advanced calculator” executing one command at a time. To start Python in this mode, execute python on the command line:

In [ ]:
2 + 2

In [ ]:
print("Hello World")

"Scripting" Mode: executing a series of “commands” saved in text file, usually with a .py extension after the name of your file:

In [ ]:
python script.py

## Introduction to variables in Python

### Assigning values to variables
One of the most basic things we can do in Python is assign values to variables:

In [ ]:
text = "Data Carpentry"  # An example of assigning a value to a new text variable,
                         # also known as a string data type in Python
number = 42              # An example of assigning a numeric value, or an integer data type
pi_value = 3.1415        # An example of assigning a floating point value (the float data type)

Here we’ve assigned data to the variables `text`, `number` and `pi_value`, using the assignment operator `=`. To review the value of a variable, we can type the name of the variable into the interpreter and press `Return`:

In [ ]:
text

Everything in Python has a type. To get the type of something, we can pass it to the built-in function type:

In [ ]:
# Type of the text object
type(text)

In [ ]:
# Type of the number object
type(number)

In [ ]:
# Type of the pi_value object
type(pi_value)

The variable `text` is of type `str`, short for “string”. Strings hold sequences of characters, which can be letters, numbers, punctuation or more exotic forms of text (even emoji!).

We can also see the value of something using another built-in function, `print`:

In [ ]:
print(text)

In [ ]:
print(number)

This may seem redundant, but in fact it’s the only way to display output in a script.

Tip: `print` and `type` are built-in functions in Python.

### Operators
We can perform mathematical calculations in Python using the basic operators +, -, /, *, %:

In [ ]:
2 + 2  # Addition

In [ ]:
6 * 7  # Multiplication

In [ ]:
2 ** 16  # Power

In [ ]:
13 % 5  # Modulo/remainder

We can also use comparison and logic operators: <, >, ==, !=, <=, >= and statements of identity such as and, or, not. The data type returned by this is called a boolean.

In [ ]:
3 > 4

In [ ]:
True and True

In [ ]:
True or False

In [ ]:
True and False

------------------------------------------------------
# SLIDES
------------------------------------------------------

# Getting help

In [ ]:
x = 20
help(x)

In [ ]:
# Display all of the available methods (functions) that are built into a data object
dir(text)

------------------------------------------------------
# SLIDES
------------------------------------------------------

## Sequences: Lists and Tuples

### Lists
Lists are a common data structure to hold an ordered sequence of elements. Each element can be accessed by an index. Note that Python indexes start with 0 instead of 1:

In [ ]:
numbers = [1, 2, 3]
numbers[0]

In [ ]:
# Indentation is very important in Python.
for num in numbers:
    print(num)

To add elements to the end of a list, we can use the append method.

In [ ]:
numbers.append(4)
print(numbers)

To find out what methods are available for an object, we can use the built-in help command:

In [ ]:
help(numbers)

### Tuples
A tuple is similar to a list in that it’s an ordered sequence of elements. However, tuples can not be changed once created (they are “immutable”). Tuples are created by placing comma-separated values inside parentheses ().

In [ ]:
# Tuples use parentheses
a_tuple = (1, 2, 3)
another_tuple = ('blue', 'green', 'red')

# Note: lists use square brackets
a_list = [1, 2, 3]

---------------------------------
# CHALLENGE 1 - START
---------------------------------

# Tuples vs. Lists

Let's create some variables:

In [ ]:
a_tuple = (1, 2, 3)
another_tuple = ('blue', 'green', 'red')
a_list = [1, 2, 3]

1. What happens when you execute `a_list[1] = 5`?

In [ ]:
a_list[1] = 5
a_list
# The second value in a_list is replaced with 5.

2. What happens when you execute `a_tuple[2] = 5`?

In [ ]:
a_tuple[2] = 5
a_tuple
# As a tuple is immutable, it does not support item assignment. 
# Elements in a list can be altered individually.

3. What does `type(a_tuple)` tell you about `a_tuple`?

In [ ]:
type(a_tuple)
# The function tells you that the variable a_tuple is an object of the class tuple.

4. What information does the built-in function `len()` provide? Does it provide the same information on both tuples and lists? Does the `help()` function confirm this?

In [ ]:
len(a_list)

In [ ]:
len(a_tuple)
# len() tells us the length of an object. 
# It works the same for both lists and tuples, 
# providing us with the number of entries in each case.

In [ ]:
help(len)
# Lists and tuples are both types of container 
# i.e. objects that can contain multiple items, 
# the key difference being that lists are mutable 
# i.e. they can be modified after they have been created, 
# while tuples are not: their value cannot be modified, only overwritten.

---------------------------------
# CHALLENGE 1 - END
---------------------------------

## Dictionaries

A dictionary is a container that holds pairs of objects - keys and values.

In [ ]:
translation = {'one': 'first', 'two': 'second'}
translation['one']

Dictionaries work a lot like lists - except that you index them with keys. You can think about a key as a name or unique identifier for the value it corresponds to.

In [ ]:
rev = {'first': 'one', 'second': 'two'}
rev['first']

To add an item to the dictionary we assign a value to a new key:

In [ ]:
rev['third'] = 'three'
rev

Using for loops with dictionaries is a little more complicated. We can do this in two ways:

In [ ]:
for key, value in rev.items():
    print(key, '->', value)

In [ ]:
for key in rev.keys():
    print(key, '->', rev[key])

---------------------------------
# CHALLENGE 2 - START
---------------------------------

# Dictionaries

Create a dictionary

In [ ]:
rev = {'first': 'one', 'second': 'two'}

1. First, print the value of the rev dictionary to the screen.

In [ ]:
print(rev)

2. Reassign the value that corresponds to the key "second" so that it no longer reads “two” but instead 2.

In [ ]:
# Option 1
rev['second'] = 2

# Option 2
rev.update({'second': 2})

3. Print the value of rev to the screen again to see if the value has changed.

In [ ]:
print(rev)

---------------------------------
# CHALLENGE 2 - END
---------------------------------

## Functions

Defining a section of code as a function in Python is done using the "def" keyword. For example a function that takes two arguments and returns their sum can be defined as:

In [ ]:
def add_function(a, b):
    result = a + b
    return result

z = add_function(20, 22)
print(z)

## Working With Pandas DataFrames in Python

### About Libraries
A library in Python contains a set of tools (called functions) that perform tasks on our data. Importing a library is like getting a piece of lab equipment out of a storage locker and setting it up on the bench for use in a project. Once a library is set up, it can be used or called to perform the task(s) it was built to do.

One of the best options for working with tabular data in Python is to use the Python Data Analysis Library (a.k.a. Pandas).

In [ ]:
import pandas as pd

### Loading data from GitHub

If you're using Google Colab or Jupyter Notebook online, you can either upload the data files from your computer, or you can download them directly from GitHub.

In [ ]:
!wget -O data/tmdb-movies2.csv https://raw.githubusercontent.com/CODATA-RDA-DataScienceSchools/Materials/refs/heads/master/docs/DataTrieste2025/Python/data/tmdb-movies.csv

!wget -O data/tmdb-movies-missing2.csv https://raw.githubusercontent.com/CODATA-RDA-DataScienceSchools/Materials/refs/heads/master/docs/DataTrieste2025/Python/data/tmdb-movies-missing.csv

!wget -O data/movies2.csv https://raw.githubusercontent.com/CODATA-RDA-DataScienceSchools/Materials/refs/heads/master/docs/DataTrieste2025/Python/data/movies.csv

!wget -O data/ratings2.csv https://raw.githubusercontent.com/CODATA-RDA-DataScienceSchools/Materials/refs/heads/master/docs/DataTrieste2025/Python/data/ratings.csv

### Reading CSV Data Using Pandas

We can use Pandas’ read_csv function to pull the file directly into a DataFrame.

A DataFrame is a 2-dimensional data structure that can store data of different types (including strings, numbers, categories and more) in columns.

In [ ]:
# Note that pd.read_csv is used because we imported pandas as pd
pd.read_csv("data/tmdb-movies.csv")
# The first column is the index of the DataFrame. 
# The index is used to identify the position of the data, 
# but it is not an actual column of the DataFrame.

------------------------------------------------------
# SLIDES
------------------------------------------------------

We need to save the data to memory so we can work with it.
To do that, we need to assign the DataFrame to a variable.

In [ ]:
# Save data to memory
my_data = pd.read_csv("data/tmdb-movies.csv")

In [ ]:
# View the data object
my_data

In [ ]:
# View the first few lines
my_data.head()

In [ ]:
# View object type
type(my_data)

In [ ]:
# View shape (dimensions)
my_data.shape

In [ ]:
# View data types
my_data.dtypes
# All the values in a single column have the same type.
# Some columns cannot contain fractional values
# The object type represents strings

In [ ]:
# View info
my_data.info()
# This shows the type (DataFrame), shape (rows and columns), non-null counts, and dtypes

In [ ]:
# Calculate summary statistics for all numeric columns
my_data.describe()

There are many ways to summarize and access the data stored in DataFrames, using attributes and methods provided by the DataFrame object.

Attributes are features of an object.

Methods are like functions, but they only work on particular kinds of objects. With a method, we can supply extra information in the parentheses to control behaviour.

---------------------------------
# CHALLENGE 3 - START
---------------------------------

# Dataframes

Using our DataFrame `my_data`, try out the attributes & methods below to see what they return.

In [ ]:
import pandas as pd
# Note: Update the relative path to the data
my_data = pd.read_csv("data/tmdb-movies.csv")

In [ ]:
my_data.columns
# provides the names of the columns in the DataFrame

In [ ]:
my_data.shape
# provides the dimensions of the DataFrame as a tuple in (r,c) format, where r is the number of rows and c the number of columns.

In [ ]:
my_data.head() # returns first 5 lines
my_data.head(15) # returns 15 lines

In [ ]:
my_data.tail() # returns last 5 lines

---------------------------------
# CHALLENGE 3 - END
---------------------------------

Let’s perform some quick summary statistics to learn more about the data that we’re working with.

In [ ]:
# View columns
my_data.columns

In [ ]:
# View unique directors

# Option 1 - view names
pd.unique(my_data['director'])

# Option 2 - view total number of unique directors
director_names = my_data['director']
unique_directors = pd.unique(director_names)
number_unique_directors = len(unique_directors)
print(number_unique_directors)

---------------------------------
# CHALLENGE 4 - START
---------------------------------

# Statistics

In [ ]:
import pandas as pd
# Note: Update the relative path to the data
my_data = pd.read_csv("data/tmdb-movies.csv")

1. Create a list of unique directors `("director")` found in the data. Call it `unique_directors`. How many unique directors are there in the data?

In [ ]:
# Option 1
unique_directors = pd.unique(my_data['director'])
len(unique_directors)

# Option 2
len(pd.unique(my_data['director']))
# Answer: 5051 unique directors

2. What is the difference between `len(unique_directors)` and `my_data['director'].nunique()`?

In [ ]:
len(unique_directors)
# Returns 5051
# Also counts missing/null values as a "unique director"

In [ ]:
my_data['director'].nunique()

# Returns 5050
# Ignores the null values and gives the true number of unique directors

---------------------------------
# CHALLENGE 4 - END
---------------------------------

------------------------------------------------------
# SLIDES
------------------------------------------------------

## Groups in Pandas

We often want to calculate summary statistics grouped by subsets or attributes within fields of our data.

We can calculate basic statistics for all records in a single column using the syntax below:

In [ ]:
my_data['revenue'].describe()

We can also extract one specific metric if we wish:

In [ ]:
my_data['revenue'].min()
my_data['revenue'].max()
my_data['revenue'].mean()
my_data['revenue'].std()
my_data['revenue'].count()

But if we want to summarize by one or more variables, we can use Pandas’ `.groupby` method.

In [ ]:
# Group data by director
grouped_data = my_data.groupby('director')

In [ ]:
# Summary statistics for all numeric columns by director
grouped_data.describe()

In [ ]:
# Provide the mean for each numeric column by director
grouped_data.mean(numeric_only=True)

---------------------------------
# CHALLENGE 5 - START
---------------------------------

# Summary data

In [ ]:
import pandas as pd
# Note: Update the relative path to the data
my_data = pd.read_csv("data/tmdb-movies.csv")
grouped_data = my_data.groupby('release_year')

1. How many movies were released per year?

In [ ]:
grouped_data.describe()

2. What happens when you group by two columns using the following syntax and then calculate mean values?

In [ ]:
grouped_data2 = my_data.groupby(['release_year', 'director'])
grouped_data2.mean(numeric_only=True)

In [ ]:
# You can specify particular columns and particular summary statistics using the agg() method (short for aggregate)
my_data.groupby(['release_year', 'director']).agg({"budget": 'max',
                                                  "runtime": 'median',
                                                  "revenue": 'mean'})

3. Summarize revenue values for each year in your data. HINT: you can use the following syntax to only create summary statistics for one column in your data. `my_data['release_year'].describe()`

In [ ]:
my_data.groupby(['release_year'])['revenue'].describe()

---------------------------------
# CHALLENGE 5 - END
---------------------------------

Let’s next count the number of movies for each year. We’ll use `groupby` combined with a `count()` method.

In [ ]:
movie_counts = my_data.groupby('release_year')['id'].count()
print(movie_counts)

We can also count just the rows that have the genre "Thriller":

In [ ]:
my_data.groupby('genres')['release_year'].count()['Thriller']

## Quick & Easy Plotting Data Using Pandas

We can plot our summary stats using Pandas, too.

In [ ]:
# Make sure figures appear inline in Ipython Notebook
%matplotlib inline
# Create a quick bar chart
movie_counts.plot(kind='bar');
# The ; just removes the object type displayed at the top

---------------------------------
# CHALLENGE 6 - START
---------------------------------

# Plots

In [ ]:
%matplotlib inline

import pandas as pd
# Note: Update the relative path to the data
my_data = pd.read_csv("data/tmdb-movies.csv")

1. Create a plot of average runtime from year to year.

In [ ]:
my_data.groupby('release_year')['runtime'].mean().plot(kind='bar')

2. Create a plot of the average popularity of movies for each year.

In [ ]:
# Option 1
my_data.groupby('release_year')['popularity'].mean().plot(kind='bar')

# Option 2
grouped_pop = my_data.groupby('release_year')['popularity'].mean()
grouped_pop.plot(kind='bar');

---------------------------------
# CHALLENGE 6 - END
---------------------------------

------------------------------------------------------
# SLIDES
------------------------------------------------------

## Indexing and Slicing in Python

We often want to work with subsets of a DataFrame object. There are different ways to accomplish this including: using labels (column headings), numeric ranges, or specific x,y index locations.

### Selecting data using Labels (Column Headings)

We use square brackets [] to select a subset of a Python object.

In [ ]:
# TIP: use the .head() method we saw earlier to make output shorter
# Method 1: select a 'subset' of the data using the column name
my_data['original_title'].head()

# Method 2: use the column name as an 'attribute'; gives the same output
my_data.original_title.head()

We can also create a new object that contains only the data within the `original_title` column as follows:

In [ ]:
# Creates an object, movie_titles, that only contains the `original_title` column
movie_titles = my_data['original_title']

We can pass a list of column names too, as an index to select columns in that order. This is useful when we need to reorganize our data.

In [ ]:
# Select the director and release_year columns from the DataFrame
my_data[['director', 'release_year']]

# What happens when you flip the order?
my_data[['release_year', 'director']]

# What happens if you ask for a column that doesn't exist?
my_data['rating']

### Extracting Range based Subsets: Slicing

Python uses 0-based indexing. This means that the first element in an object is located at position 0.

In [ ]:
# Create a list of numbers
a = [1, 2, 3, 4, 5]

In [ ]:
# Indexing: getting a specific element
a[2]

In [ ]:
# Slicing: selecting a set of elements
a[1:3]

---------------------------------
# CHALLENGE 7 - START
---------------------------------

# Extracting data

In [ ]:
# Create a list of numbers:
a = [1, 2, 3, 4, 5]

1. What value does the code below return?

In [ ]:
a[0]
# Returns the value 1 (i.e. the first element)

2. How about this:

In [ ]:
a[5]
# Raises and IndexError

3. In the example above, calling `a[5]` returns an error. Why is that?

The error is raised because the list `a` has no element with index 5: it has only five entries, indexed from 0 to 4.

4. What about?

In [ ]:
a[len(a)]
# Also raises an IndexError. 
# len(a) returns 5, making a[len(a)] equivalent to a[5].
# To retrieve the final element of a list, use the index -1, 
# e.g. a[-1]

---------------------------------
# CHALLENGE 7 - END
---------------------------------

## Slicing Subsets of Rows and Columns

Slicing using the `[]` operator selects a set of rows and/or columns from a DataFrame. To slice out a set of rows, you use the following syntax: `data[start:stop]`.

When slicing in pandas the start bound is included in the output. The stop bound is one step BEYOND the row you want to select. So if you want to select rows 0, 1 and 2 your code would look like this:

In [ ]:
# Select rows 0, 1, 2 (row 3 is not selected)
my_data[0:3]

In [ ]:
# Select the first 5 rows (rows 0, 1, 2, 3, 4)
my_data[:5]

In [ ]:
# Select the last element in the list
# (the slice starts at the last element, and ends at the end of the list)
my_data[-1:]

## Copying Objects vs Referencing Objects

In [ ]:
# Using the 'copy()' method makes a true copy of the data
true_copy_data = my_data.copy()

In [ ]:
# Using the '=' operator only references the original data
ref_data = my_data

# If you change any values in `ref_data`,
# it will also change in `my_data`.

## Subsetting Data using Criteria

We can select specific ranges of our data in both the row and column directions using either label or integer-based indexing.

`iloc` is primarily an integer-based indexing counting from 0. That is, you specify rows and columns giving a number. Thus, the first row is row 0, the second column is column 1, etc.

`loc` is primarily a label-based indexing where you can refer to rows and columns by their name. E.g., column `year`. Note that integers may be used, but they are interpreted as a label.

In [ ]:
# iloc[row slicing, column slicing]
my_data.iloc[0:3, 1:4]

# This returned 3 rows of data. When you ask for 0:3, 
# you are actually telling Python to start at index 0 
# and select rows 0, 1, 2 up to but not including 3. We
# are selecting columns 1, 2, 3 (not including 4).

In [ ]:
# loc[row slicing, column slicing]
my_data.loc[0:3, 1:4]
# This gives an error, because pandas can't find 
# columns named "1", "2", "3", or "4".

When using `loc`, integers can be used, but the integers refer to the index label and not the position. For example, using `loc` and selecting 0:3 will get a different result than using `iloc` to select rows 0:3.

In [ ]:
my_data.loc[0:3, ['imdb_id', 'popularity', 'budget']]
# We have to use LABELS with LOC.
# But do you see the difference in the number of rows? 
# It extracted the rows at index 0,1,2 AND 3, because it's using the
# index as a LABEL, and not using it as a positional argument.

# And remember that the start and stop bounds of loc are included.

In [ ]:
# Select all columns for rows of index values 0 and 10
my_data.loc[[0, 10], :]

# With loc, both the start bound and the stop bound are inclusive.

In [ ]:
# What does this do?
my_data.loc[0, ['release_year', 'director', 'budget']]

# Note that labels must be found in the DataFrame or you will get a KeyError.

In [ ]:

# What happens when you run the code below?
my_data.loc[[0, 10, 3549], :]

# With loc, both the start bound and the stop bound are inclusive.

We can also select a specific data value using a row and column location within the DataFrame and iloc indexing:

Syntax for iloc indexing to finding a specific data element:

`data.iloc[row, column]`

## Subsetting Data using Criteria

We can also select a subset of our data using criteria. Let's select all the movies that were released in 2005.

In [ ]:
my_data[my_data.release_year == 2005]

Or we can select all rows that do not contain the year 2005:

In [ ]:
# Option 1
my_data[my_data != 2005]

# Option 2
my_data[~(my_data == 2005)]

We can define sets of criteria too:

In [ ]:
my_data[(my_data.release_year >= 2000) & (my_data.release_year <= 2005)]

---------------------------------
# CHALLENGE 8 - START
---------------------------------

# Queries

In [ ]:
import pandas as pd
# Note: Update the relative path to the data
my_data = pd.read_csv("data/tmdb-movies.csv")

1. Select a subset of rows in the `my_data` DataFrame that contains data from the `release_year` 1999 and that contain `runtime` values less than or equal to 120. How many rows did you end up with? What did your neighbor get?

In [ ]:
my_data[(my_data.release_year == 1999) & (my_data.runtime <= 120)]
len(my_data[(my_data.release_year == 1999) & (my_data.runtime <= 120)])

2. You can use the `isin` command in Python to query a DataFrame based upon a list of values as follows:

my_data[my_data['original_title'].isin([listGoesHere])]

Use the `isin` function to find a list of all movies that contain particular genres ("Comedy" and "Thriller") in the DataFrame. How many records contain these values?

In [ ]:
len(my_data[my_data['genres'].isin(['Comedy', 'Thriller'])])

Create a query that finds all rows with a runtime value greater than or equal to 300.

In [ ]:
# Option 1
my_data[my_data["runtime"] >= 300]

# Option 2
my_data[my_data.runtime >= 300]

# Option 3
my_data.query("runtime >= 300")

The `~` symbol in Python can be used to return the OPPOSITE of the selection that you specify. It is equivalent to `is not in`. Write a query that selects all rows with `genres` NOT equal to `Documentary` or `Horror` in the data.

In [ ]:
my_data[~my_data["genres"].isin(['Documentary', 'Horror'])]

---------------------------------
# CHALLENGE 8 - END
---------------------------------

## Using masks to identify a specific condition

A mask can be useful to locate where a particular subset of values exist or don’t exist - for example, NaN, or “Not a Number” values. To understand masks, we also need to understand BOOLEAN objects in Python.

Boolean values include `True` or `False`. For example:

In [ ]:
# Set x to 5
x = 5

In [ ]:
# What does the code below return?
x > 5

In [ ]:
# How about this?
x == 5

# Missing data

In [ ]:
import pandas as pd
my_data_missing = pd.read_csv("data/tmdb-movies-missing.csv")

Let’s try this out. Let’s identify all locations in the data that have null (missing or NaN) data values. We can use the `isnull` method to do this. The `isnull` method will compare each cell with a null value. If an element has a null value, it will be assigned a value of `True` in the output object.

In [ ]:
pd.isnull(my_data_missing)

To select the rows where there are null values, we can use the mask as an index to subset our data as follows:

In [ ]:
# To select just the rows with NaN values, we can use the 'any()' method

my_data_missing[pd.isnull(my_data_missing).any(axis=1)]
# axis=1 means that it checks across each row.

We can run `isnull` on a particular column too. What does the code below do?

In [ ]:
# What does this do?
missing_titles = my_data_missing[pd.isnull(my_data_missing['original_title'])]
print(missing_titles)

# We are asking Python to select rows that have a NaN value of title, i.e. missing titles.

Let's extract the homepages for the movies with missing titles:

In [ ]:
missing_titles['homepage']

# You can visit the homepages to get the movie titles.

## Checking the format of our data

The format of individual columns and rows will impact analysis performed on a dataset read into a pandas DataFrame. For example, you can’t perform mathematical calculations on a string (text formatted data).

- Every value has a type.
- Use the built-in function type to find the type of a value.
- Types control what operations can be done on values.
- Strings can be added and multiplied.
- Strings have a length (but numbers don’t).
- Must convert numbers to strings or vice versa when operating on them.
- Can mix integers and floats freely in operations.

### Types of Data

In [ ]:
my_data.dtypes

In [ ]:
my_data['director'].dtype

# A type "O" stands for "object", i.e. string/text

## Working With Integers and Floats

If we divide one integer by another, we get a float.

In [ ]:
print(5/9)

We can also convert a floating point number to an integer or an integer to floating point number. Notice that Python by default rounds down when it converts from floating point to integer.

In [ ]:
# Convert a to an integer
a = 7.83
int(a)

In [ ]:
# Convert b to a float
b = 7
float(b)

## Working With Our Movies Data

In [ ]:
# Convert the id field from an integer to a float
my_data['id'] = my_data['id'].astype('float64')
my_data['id'].dtype

---------------------------------
# CHALLENGE 9 - START
---------------------------------

# Changing Types

In [ ]:
import pandas as pd
# Note: Update the relative path to the data
my_data_missing = pd.read_csv("data/tmdb-movies-missing.csv")

1. Try converting the column `runtime` to floats.

In [ ]:
my_data_missing['runtime'].astype("float")

2. Convert the `budget` variable to an integer. What goes wrong here? What is pandas telling you?

In [ ]:
my_data_missing['budget'].astype("int")
my_data_missing

# IntCastingNaNError
# Pandas cannot convert types from float to int if the column contains NaN values.

3. Try to remove the missing values from the `budget` column using `isnull` or `isna()` with `~` (i.e. only keep values that are not null) and convert it to integers.

In [ ]:
# Option 1
budget_complete = my_data_missing[~(my_data_missing['budget'].isnull())]
budget_complete['budget'].astype('int')

# Option 2
budget_complete = my_data_missing[~(my_data_missing['budget'].isna())]
budget_complete['budget'].astype('int')

---------------------------------
# CHALLENGE 9 - END
---------------------------------

## Missing Data Values - NaN

NaN (Not a Number) values are undefined values that cannot be represented mathematically. pandas, for example, will read an empty cell in a CSV or Excel sheet as NaN.

NaNs have some desirable properties: if we were to average the `budget` column without replacing our NaNs, Python would know to skip over those cells.

In [ ]:
my_data_missing['budget'].mean()

Dealing with missing data values is always a challenge.

It’s sometimes hard to know why values are missing:
- Was it because of a data entry error?
- Or data that someone was unable to collect?
- Should the value be 0? 

We need to know how missing values are represented in the dataset in order to make good decisions. If we’re lucky, we have some metadata that will tell us more about how null values were handled.

We can figure out how many rows contain NaN values for `popularity`. We can also create a new subset from our data that only contains rows with popularity > 0 (i.e., select meaningful values):

In [ ]:
len(my_data_missing[my_data_missing['popularity'].isna()])

# How many rows have popularity values?
len(my_data_missing[my_data_missing['popularity'] > 0])

We can replace all `NaN` values with zeroes using the `fillna()` method (after making a copy of the data so we don’t lose our work):

In [ ]:
df1 = my_data_missing.copy()
# Fill all NaN values with 0
df1['popularity'] = df1['popularity'].fillna(0)

However NaN and 0 yield different analysis results. The mean value when NaN values are replaced with 0 is different from when NaN values are simply thrown out or ignored.

In [ ]:
df1['popularity'].mean()

We can fill NaN values with any value that we choose. The code below fills all NaN values with a mean for all popularity values.

In [ ]:
df1['popularity'] = df1['popularity'].fillna(df1['popularity'].mean())

---------------------------------
# CHALLENGE 10 - START
---------------------------------

# Counting

In [1]:
import pandas as pd
# Note: Update the relative path to the data
my_data_missing = pd.read_csv("data/tmdb-movies-missing.csv")

Count the number of missing values per column.

In [ ]:
# Option 1
my_data_missing.isnull().sum()

id                         5
imdb_id                   13
popularity                 3
budget                     2
revenue                    1
original_title             3
cast                      76
homepage                7904
director                  45
tagline                 2814
keywords                1489
overview                   4
runtime                    0
genres                    23
production_companies    1021
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [ ]:
# Option 2
for c in my_data_missing.columns:
    print(c, len(my_data_missing[my_data_missing[c].isna()]))

In [ ]:
# Option 3
for c in my_data_missing.columns:
    print(c, len(my_data_missing[pd.isnull(my_data_missing[c])]))

---------------------------------
# CHALLENGE 10 - END
---------------------------------

## Writing Out Data to CSV

First, let’s reload the data so we’re not mixing up all of our previous manipulations.

In [ ]:
my_data = pd.read_csv("data/tmdb-movies.csv")

Let’s drop all the rows that contain missing values. We will use the command `dropna`. By default, `dropna` removes rows that contain missing data for even just one column.

In [ ]:
df_na = my_data.dropna()

# Note: If you want to drop rows with missing values in a specific column:
# df_na = my_data.dropna(subset=['popularity'])

Export a DataFrame in CSV format and save it in the `data_output` directory.

In [ ]:
# Write DataFrame to CSV
df_na.to_csv('data_output/movies_complete.csv', index=False)

------------------------------------------------------
# SLIDES
------------------------------------------------------

# Concatenating DataFrames

We often need to combine data files into a single DataFrame to analyse the data.

We can use the `concat` function in pandas to append either columns or rows from one DataFrame to another. Let's create two subsets of data first:

In [ ]:
# Read in first 10 lines of table
data_sub = my_data.head(10)

# Grab the last 10 rows
data_sub_last10 = my_data.tail(10)

# Reset the index values so the second dataframe appends properly
data_sub_last10 = data_sub_last10.reset_index(drop=True)

# drop=True option avoids adding new index column with old index values

When we concatenate DataFrames, we need to specify the axis:
- `axis=0` will stack the second DataFrame UNDER the first one. Columns need to have the same name and data type.
- `axis=1` will stack the columns in the second DataFrame to the RIGHT of the first DataFrame. Rows need to be related.

In [ ]:
# Stack the DataFrames on top of each other
vertical_stack = pd.concat([data_sub, data_sub_last10], axis=0)
vertical_stack

# Note that the row indexes for the two dataframes have been repeated.

In [ ]:
# Reindex the new DataFrame using the reset_index() method
vertical_stack = vertical_stack.reset_index(drop=True)
vertical_stack

In [ ]:
# Write DataFrame to CSV
vertical_stack.to_csv('data_output/out2.csv', index=False)

In [ ]:
# Place the DataFrames side by side
horizontal_stack = pd.concat([data_sub, data_sub_last10], axis=1)
horizontal_stack

## Joining DataFrames

When we concatenated our DataFrames, we simply added them to each other - stacking them either vertically or side by side. Another way to combine DataFrames is to use columns in each dataset that contain common values (a common unique identifier).

The columns containing the common values are called “join key(s)”. Joining DataFrames in this way is often useful when one DataFrame is a “lookup table” containing additional data that we want to include in the other.

------------------------------------------------------
# SLIDES
------------------------------------------------------

### Import multiple data files

Many functions in Python have a set of options that can be set by the user if needed. Let's tell pandas to assign empty values in our CSV to NaN with the parameters `keep_default_na=False` and `na_values=[""]`.

In [ ]:
movies = pd.read_csv("data/movies.csv",
                   keep_default_na=False,
                   na_values=[""])

movies.head()

In [ ]:
ratings = pd.read_csv("data/ratings.csv",
                   keep_default_na=False,
                   na_values=[""])

ratings

### Identifying join keys

In [ ]:
movies.columns

In [ ]:
ratings.columns

In our example, the join key is the `movieId` column. If you have big data sets, it's easier to identify join keys programmatically:

In [ ]:
movies.columns[movies.columns.isin(ratings.columns)]

### Types of joins

#### Inner join
- Returns a new DataFrame that contains only those rows that have matching values in both of the original DataFrames.
- `merged_inner = pd.merge(left=df1, right=df2, left_on='col1', right_on='col2')`

#### Left join
- Returns all of the rows from the left DataFrame, even those rows whose join key(s) do not have values in the right DataFrame.
- `merged_left = pd.merge(left=df1, right=df2, left_on='col1', right_on='col2', how='left')`

#### Right join
- Returns all of the rows from the right DataFrame, even those rows whose join key(s) do not have values in the left DataFrame.
- `merged_right = pd.merge(left=df1, right=df2, left_on='col1', right_on='col2', how='right')`

#### Full (outer) join
- Returns all pairwise combinations of rows from both DataFrames.
- `merged_outer = pd.merge(left=df1, right=df2, left_on='col1', right_on='col2', how='outer')`

In [ ]:
# Inner join

# Option 1
merged_inner = pd.merge(left=movies, right=ratings, left_on='movieId', right_on='movieId')

# Option 2
merged_inner = pd.merge(left=movies, right=ratings, on='movieId')

merged_inner

In [ ]:
# Left join
merged_left = pd.merge(left=movies, right=ratings, on='movieId', how='left')
merged_left

In [ ]:
# Right join
merged_right = pd.merge(left=movies, right=ratings, on='movieId', how='right')
merged_right

In [ ]:
# Full (outer) join
merged_outer = pd.merge(left=movies, right=ratings, on='movieId', how='outer')
merged_outer

------------------------------------------------------
# SLIDES
------------------------------------------------------

# Introduction to Plotting

Let's create a copy of our `merged_inner` data and make some plots with that.

In [ ]:
data_complete = merged_inner.copy()

In [ ]:
# Plot data directly from a Pandas dataframe
myplot = data_complete['rating'].plot(kind='hist')
myplot.set_title('Distribution of Movie Ratings')
myplot.set_xlabel('Rating')
myplot.set_ylabel('Frequency')

In [ ]:
# Matplotlib
import matplotlib.pyplot as plt

plt.figure(figsize=(8, 6))
plt.hist(data_complete['rating'], bins=5, color='skyblue', edgecolor='black')
plt.title('Distribution of Movie Ratings')
plt.xlabel('Rating')
plt.ylabel('Frequency')

# Save the plot before showing it
plt.savefig('fig_output/matplotlib_histogram.png', dpi=300, bbox_inches='tight')

plt.show()

In [ ]:

# Seaborn
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(8, 6))
sns.histplot(data_complete['rating'], bins=5, color='skyblue', kde=False)
plt.title('Distribution of Movie Ratings')
plt.xlabel('Rating')
plt.ylabel('Frequency')

# Save the plot before showing it
plt.savefig('fig_output/seaborn_histogram.png', dpi=300, bbox_inches='tight')

plt.show()

In [ ]:

# Plotnine
from plotnine import ggplot, aes, geom_histogram, ggtitle, labs, theme_classic

plot = (ggplot(data_complete, aes(x='rating')) +
        geom_histogram(bins=5, fill='skyblue', color='black') +
        ggtitle('Distribution of Movie Ratings') +
        labs(x='Rating', y='Frequency') +
        theme_classic())
        
print(plot)

# Save the plot
plot.save('fig_output/plotnine_histogram.png', dpi=300)

These examples provide the same output visually but differ significantly in the way they are coded. The choice between them depends on the user's preference for customisation, simplicity, and familiarity with the plotting paradigm.

#### Summary of Differences

**Matplotlib:**

- Requires more boilerplate code (e.g., `plt.figure()`, `plt.show()`).
- Customisation (color, labels) is done through method arguments.
- The histogram is created using `plt.hist()`.

**Seaborn:**

- Less code than Matplotlib, with some additional aesthetics by default.
- Histogram created with `sns.histplot()`; `kde=False` disables the kernel density estimate line.
- Integrates with Matplotlib for underlying plotting but adds simplicity.

**Plotnine:**

- Follows a declarative style with the *Grammar of Graphics* approach.
- Plots are constructed by layering components (`ggplot`, `aes`, `geom_histogram`).
- Requires fewer explicit function calls for titles and labels but uses a more complex syntax.

------------------------------------------------------
# SLIDES
------------------------------------------------------